RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)https://mrsinom.github.io/DrewDom/[NC]
RewriteRule ^(.*)$ www.drewdom.org.pl [R=301,L]


RewriteEngine On
RewriteCond %{HTTPS} !=on 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
