RewriteEngine On 
RewriteCond %{HTTP_HOST} ^(www.)?domena_źródłowa.pl [NC] 
RewriteRule (.*) http://drewdom.org.pl/$1 [R=301,L]





RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI}
